body 
{
    background-color: #373737;
}

h2
{
    color: aliceblue; 
    font-family: 'Montserrat';    
    font-size: x-large; 
}

@media (max-width: 576px) 
{ 
    h2
    {        
        font-size: medium; 
    }
}