#first-prez
{
    background-image: url("../img/main-top-rotated-UHD.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 1000px;
    margin-bottom: 50px;
}

.title-container
{
    padding-top: 30%;
    padding-left: 12.5%;
    display: grid;
}

.title-main
{
    grid-row: 1; 
    color: aliceblue; 
    font-family: 'Crimsom Text';
    
    font-size: 60px; 
}

.title-secondary
{
    grid-row: 2; 
    color: aqua; 
    font-family: 'Montserrat';
    
    font-size: xx-large; 
}

.title-separator
{
    background-color: aliceblue; 
    height: 2px; 
    width: 70px; 
    margin-top: 15px;
}

.title-second-container
{
    color: aliceblue; 
    font-size: x-large;

    text-align: justify;
    width: 80%;
    padding-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 576px) 
{ 
    #first-prez 
    {
        background-image: url("../img/main-top-rotated.png");
        min-height: 500px;
    }

    .title-main
    {
        font-size: x-large;
    }

    .title-secondary
    {
        font-size: medium;
    }
    
    .title-separator
    {
        height: 1px; 
        width: 50px; 
        margin-top: 7.5px;
    }

    
    .title-second-container
    {
        font-size: small;
    }
}



.footer
{    
    background-color: #4d4d4d;
    color: aliceblue; 
    font-size: 60px;
    
    padding: 20px;
    
}

.footer-grid
{
    margin: auto;

    display: grid;
    grid-gap: 50px;
    text-align: center;
    grid-template-columns: auto auto;
}

.mailto-link
{
    margin: auto; 
    font-size: x-large; 
    color: aliceblue; 
    text-decoration: none;
}


@media (max-width: 576px) 
{ 
    .footer
    {
        font-size: 30px;
    } 

    .mailto-link
    {
        font-size: small; 
    }
}
