.navbar-custom
{
    background-color: var(--c-navbar); 
    font-size: 20px;
}

.title-container
{
    display: grid;
}

.title-separator
{
    background-color: var(--text-primary);
    height: 2px; 
    width: 70px; 
    margin-top: 15px;
}

.title-second-container
{
    text-align: center;
    width: 55%;
    margin-left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 768px) 
{
    .title-second-container
    {
        width: 60%;
    }
}

@media (max-width: 576px) 
{ 
    .navbar-custom
    {
        font-size: 16px;
    }

    .title-main
    {
        font-size: x-large;
    }

    .title-secondary
    {
        font-size: medium;
    }
    
    .title-separator
    {
        height: 1px; 
        width: 50px; 
        margin-top: 7.5px;
    }

    
    .title-second-container
    {
        width: 80%;
    }
}


.darkened-pointer
{
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    
    border-radius: inherit;
}

.footer
{    
    font-size: 60px;    
    padding: 20px;
    
}

.footer-grid
{
    margin: auto;

    display: grid;
    grid-gap: 50px;
    text-align: center;
    grid-template-columns: auto auto;
}

.mailto-link
{
    margin: auto; 
    font-size: x-large; 
    text-decoration: none;
}


@media (max-width: 576px) 
{ 
    .footer
    {
        font-size: 30px;
    } 

    .mailto-link
    {
        font-size: small; 
    }
}
