.navbar-custom
{
    background-color: rgba(100, 100, 100, 0.75); 
    font-size: 20px;
}

#first-prez
{
    background-image: url("../img/main-top-rotated-UHD.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 1000px;
}

.title-container
{
    padding-top: 30%;
    padding-left: 12.5%;
    display: grid;
}

.title-main
{
    grid-row: 1; 
    color: aliceblue; 
    font-family: 'Crimsom Text';
    
    font-size: 60px; 
}


.title-secondary
{
    grid-row: 2; 
    color: aqua; 
    font-family: 'Montserrat';
    
    font-size: xx-large; 
}

.title-separator
{
    background-color: aliceblue; 
    height: 2px; 
    width: 70px; 
    margin-top: 15px;
}

.title-second-container
{
    color: aliceblue; 
    font-size: x-large;

    text-align: center;
    width: 55%;
    padding-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 768px) 
{
    .title-second-container
    {
        font-size: large;
        width: 60%;
    }
}

@media (max-width: 576px) 
{ 
    .navbar-custom
    {
        font-size: 16px;
    }

    #first-prez 
    {
        background-image: url("../img/main-top-rotated.png");
        min-height: 500px;
    }

    .title-main
    {
        font-size: x-large;
    }

    .title-secondary
    {
        font-size: medium;
    }
    
    .title-separator
    {
        height: 1px; 
        width: 50px; 
        margin-top: 7.5px;
    }

    
    .title-second-container
    {
        width: 80%;
        font-size: small;
    }
}



.realizations-prez
{
    display: flex;
    margin: 30px auto;
    max-width: 1000px;
}

.realization
{
    height: 400px;
    width: 250px;
    background-color: aquamarine;
    margin: 30px auto;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75), 0px 50px 10px -40px rgba(0,0,0,0.75);
}

.realization:hover
{
    background-color: blueviolet;
}

@media (max-width: 768px) 
{ 
    .realizations-prez
    {        
        display: flex;
    }

    .realization
    {
        height: 320px;
        width: 200px;
    }
}

@media (max-width: 576px) 
{
    .realization
    {
        height: 400px;
        width: 250px;
    } 

    .realizations-prez
    {
        display: block;
    }
}


.footer
{    
    /* background-color: #4d4d4d; */
    background-color: #373737;
    color: aliceblue; 
    font-size: 60px;
    
    padding: 20px;
    
}

.footer-grid
{
    margin: auto;

    display: grid;
    grid-gap: 50px;
    text-align: center;
    grid-template-columns: auto auto;
}

.mailto-link
{
    margin: auto; 
    font-size: x-large; 
    color: aliceblue; 
    text-decoration: none;
}


@media (max-width: 576px) 
{ 
    .footer
    {
        font-size: 30px;
    } 

    .mailto-link
    {
        font-size: small; 
    }
}
